@import '../../mixin.scss';


#main-container2{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $primary_color;
    
    #options{
        align-self: center;
    
        padding-bottom:15vh;
        #title-text{
            display: flex;
            justify-content: center;
            
        }
        #first-options{
            display: flex;
            flex-direction: row;
            align-self: center;
            justify-content: center;
            gap:50px;
            
            .buscar{
                background-color: $secondary_color;
                border-radius: 1vw;
                width: 15vw ;
                height: 5vh;
            }
            .favoritos{
                background-color:$secondary_color;
                border-radius: 1vw;
                width: 15vw ;
                height: 5vh;
            }
        }

      

        
        h1{
            
            color: white;
        }
     
      

    }
}


@media (max-width:425px) {
    #main-container2{
        #options{


            h1{
                font-size: 25px;
            }
        }
    }
    
}

@media (max-width:320px) {
    #main-container2{
        #options{
            

            h1{
                font-size: 20px;
            }
        }
    }
    
}