@import '../../mixin.scss';


#main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $primary_color;
    
    #title{
        align-self: center;
        #title-text{
            display: flex;
            justify-content: center;
            .Title{
                color: $secondary_color;
            }
        }
        #subtitle-text{
            display: flex;
            justify-content: center;
        }

        #login-line{
            display: flex;
            justify-content: center;
            .login{
                width: 15vw;
                height:5vh;
                border-radius: 15px;
                background-color: #C4C4C4;
            }
        }
        
        h1{
            
            color: white;
        }
        h3 {
            color: white;
        }

    }
}